<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google | Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <form>
        <a href="https://www.google.com">
             <img id='logo' src="static/google.jpg" alt="Logo do Google">
        </a>

        <h1>Login</h1>

        <div class="inputs">
            <label for="email">Email*</label>
            <input type="email" id="email">

            <label for="password">Password*</label>
            <input type="password" id="password">

        </div>

        <div class="lembrar">
            <input type="checkbox" />
            <p>Remember-me</p>
        </div>

        <button>Sign-in</button>

        <div class="senhea-esquecida">
            <p>
                Forgot your password?
                <a href="https://support.google.com" target="_blank"> Click here</a>
            </p>
        </div>
    </form>
</body>
</html>